* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.625rem;
  height: 100%;
  scroll-behavior: smooth;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9 100%
  );
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  & .menu {
    height: 10rem;
    width: 50rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    transition: all 0.4s ease-in-out;

    &-item {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: all 0.3s ease-in-out;

      & a {
        height: 100%;
        width: 100%;
        font-size: 1.6rem;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & .btn {
      flex-direction: column;

      & span:nth-child(3) {
        transform: rotate(-45deg);
      }

      & span {
        width: 4rem;
        height: 5px;
        background-color: rgb(115, 106, 106);
        margin: 3px 0;
        position: absolute;
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
      }
    }

    &.active {
      width: 10rem;

      & .menu-item {
        width: 0;
        height: 0;
        opacity: 0;
      }

      & .btn {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        opacity: 1;

        & span:nth-child(3) {
          transform: rotate(0deg);
        }
        & span {
          position: relative;
          transform: rotate(0deg);
        }
      }
    }
  }
}
